
{% extends "base/base.html" %}


{% block content %}
    <h1 id="gen" class="title">hallo</h1>
    <form id="subreddit_request_form" name="sInput" class="form">
        <div class="field has-addons">
            <div class="control">
                <input name="sName" class="input" type="text" placeholder="Subreddit">
            </div>
            <div class="control">
                <input id="SubredditSubmitButton" type=submit class="button is-info" value="Submit">
                </input>
            </div>
        </div>
    </form>

{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="static/js/requests.js"></script>
{% endblock scripts %}