
{% extends "base/base.html" %}


{% block content %}

<div class="columns is-centered">
  <div class="column is-6">
    <section class="section">
      <div class="content">
        <div class="">
          <h1>Create some posts</h1>
          <p>Type a subreddit to make some shitposts</p>
        </div>
        <br>
        <form id="subreddit_request_form" name="sInput" class="form">
          <div class="field has-addons is-grouped-centered">
            <p class="control is-expanded">
              <input name="sName" class="input" type="text" placeholder="Subreddit">
            </p>
            <p class="control">
              <input id="SubredditSubmitButton" type=submit class="button is-primary" value="Submit">
            </p>
          </div>
        </form>
        <br>
        <div id="LoadingBar">
          <progress id="downloading_percentage" class="progress is-hidden is-primary" value="0" max="100">0%</progress>
        </div>
        
        <div id="GeneratedPosts">
          
          <!-- TODO: Need to add some stuff here to work without js. -->
        </div>
      </div>
    </section>
  </div>
</div>


{% endblock content %}
{% block scripts %}
  <script type="text/javascript" src="static/js/bundle.js"></script>
{% endblock scripts %}