
{% extends "base/base.html" %}


{% block content %}

<nav class="navbar">
    <div class="container">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroB">
        <span></span>
        <span></span>
        <span></span>
        </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
            <a class="navbar-item is-active">
                Home
            </a>
            <a class="navbar-item">
                Examples
            </a>
            <a class="navbar-item">
                Documentation
            </a>
            <span class="navbar-item">
                <a class="button is-info is-inverted">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>Download</span>
                </a>
            </span>
        </div>
    </div>
    </div>
</nav>

<section class="hero">
  <div class="hero-body">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">alien_ebooks</h1>
            <p class="subtitle">shitposts innit</p>
        </div>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
        <div class="column is-hidden-touch">
        <!-- is-hidden-touch to help with smaller viewports to keep middle small -->
        </div>
            <div class="column is-two-thirds">
                <div class="content">
                    <div class="">
                        <h1>Create some posts</h1>
                        <p>Type a subreddit to make some shitposts</p>
                    </div>
                    <form id="subreddit_request_form" name="sInput" class="form">
                        <div class="field has-addons is-grouped-centered">
                            <div class="control">
                                <input name="sName" class="input" type="text" placeholder="Subreddit">
                            </div>
                            <div class="control">
                                <input id="SubredditSubmitButton" type=submit class="button is-info" value="Submit">
                                </input>
                            </div>
                        </div>
                    </form>
                    <div id="gen"></div>
                </div>
            </div>
        <div class="column is-hidden-touch"></div>
        </div>
    </div>
</section>


{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="static/js/bundle.js"></script>
{% endblock scripts %}