
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>{{ info["app_name"] }}</strong> by <a href="https://github.com/Roxxers">Roxie Gibson</a>. The source code is licensed
      <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a>.
    </p>
    <div class="columns has-text-left">
      <div class="column is-one-third">

      </div>
      <!-- <div class="column is-one-third">
        <p class=""><a href="#">link</a></p>
        <p class=""><a href="#">link</a></p>
      </div> -->
    </div>
  </div>
</footer>