<nav class="navbar is-transparent has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <strong style="font-size: 1.8em">Placeholder</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/roxxers/roxbot">
              <i class="fab fa-github navbar-social-link"></i>
            </a>
        </div>
    </div>
</nav>